<!DOCTYPE html>
<html>
  <head>
    <title>Beerodex</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <ul id="beer-menu" class="dropdown-content">
        <li><a href="/admin/beers">List beer</a></li>
        <li><a href="/admin/beers/new">Add beer</a></li>
        <li><a href="/admin/users">List Users</a></li>
      </ul>
      <ul id="mobile-beer-menu" class="dropdown-content">
        <li><a href="/admin/beers">List beer</a></li>
        <li><a href="/admin/beers/new">Add beer</a></li>
        <li><a href="/admin/users">List Users</a></li>
      </ul>
      <nav>
        <div class="nav-wrapper container">
          <a href="#" class="brand-logo right">Beer O' Dex</a>
          <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <% if user_signed_in? %>
              <% if current_user.admin? %>
                <li><a class="dropdown-button" href="#!" data-activates="beer-menu">Admin<i class="material-icons right">arrow_drop_down</i></a></li>
              <% end %>
              <li><%= link_to "Edit", edit_user_registration_path %></li>
              <li><a rel="nofollow" data-method="delete" href="/users/sign_out">Log out</a></li>
            <% else %>
              <li><a href="/users/sign_up">Sign up</a></li>
              <li><a href="/users/sign_in">Login</a></li>
            <% end %>
            </ul>
          </ul>
        </div>
        <ul class="side-nav" id="mobile-menu">
          <li><a href="/">Home</a></li>
          <% if user_signed_in? %>
            <% if current_user.admin? %>
              <li><a class="dropdown-button" href="#!" data-activates="mobile-beer-menu">Admin<i class="material-icons right">arrow_drop_down</i></a></li>
            <% end %>
            <li><%= link_to "Edit", edit_user_registration_path %></li>
            <li><a rel="nofollow" data-method="delete" href="/users/sign_out">Log out</a></li>
          <% else %>
            <li><a href="/users/sign_up">Sign up</a></li>
            <li><a href="/users/sign_in">Login</a></li>
          <% end %>
        </ul>
      </nav>
    </header>
    <main class="container">
      <% if notice %>
        <div class="card-panel">
          <span class="notice light-blue-text accent-3"><%= notice %></span>
        </div>
      <% end %>
      <% if alert %>
        <div class="card-panel red darken-3">
          <span class="white-text"><%= alert %></span>
        </div>
      <% end %>
      <% if flash[:error] %>
        <div class="card-panel red darken-3">
          <span class="white-text"><%= flash[:error] %></span>
        </div>
      <% end %>
      <% if flash[:success] %>
        <div class="card-panel teal">
          <span class="white-text"><%= flash[:success] %></span>
        </div>
      <% end %>
      <%= yield %>
    </main>
    <footer>

    </footer>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>
</html>
